.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.askContainer{
  display:flex;
  flex-direction: column;
  margin:auto;
  margin-Top: 100px;
  width: 900px;
}

.title{
  margin:20px;
  font-size: 20px;
}

.buttonsContainer{
  display:flex;
  flex-direction: row;
  border:solid 1px #cfd0d1;
}

.topicContainer{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.block{
  display:flex;
  flex-direction: column;
}

.card{
  display:flex;
  flex-direction: row;
}

.info{
  display:flex;
  flex-direction: column;
}

.answerContainer{
  display:flex;
  flex-direction: row;
}

.nameContainer{
  margin: auto;
  margin-top: 250px;
  width: 300px;
  display:flex;
  flex-direction: column;
}

.titleContainer{
  display:flex;
  flex-direction: row;
}

.box{
  display:flex;
  flex-direction: column;
}

.cardBox{
  width: 800px;
  margin: auto;
  padding: 20px;
  display:flex;
  flex-direction: row;
}


.main{
  background-color: #eceaea;
  padding: 40px;
}

